@import "custom";
@import "~bootstrap/scss/bootstrap";

.list_all_restaurant {
  background-color: rgba(213, 207, 207, 0.77);
  color: #000000;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  border: 1px solid rgba(37, 37, 37, 0.93);
}